:root{
    --main-color-text: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
}


body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;

    color: var(--main-color-text);
}


/* Утиліт для скидування точок */
.lyst{
    text-decoration: none;
    list-style: none;
        margin: 0;
        padding: 0;
    
}



/* ul {
    list-style: none;
} */




 /* Styling Logo */

 .logo-index{
    text-decoration: none;
 }
 
.logo {
        font-family: Raleway, cursive;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        color: var(--accent-color);
}

.logo-white{
    font-family: Raleway, cursive;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
    color: #000000;
}
.logo-studio{
        font-family: Raleway, cursive;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        color: #ffffff;
}

.logo-white:hover,
.logo-white:focus{
    color: var(--accent-color);
}

.logo:hover,
.logo:focus{
    color: var(--accent-color);
}

.logo-studio:hover,
.logo-studio:focus{
    color: var(--accent-color);
}

/* Styling Naw */

 .nav-lyst { 
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--title-color);
}

.site-nav .nav-lyst:hover,
.site-nav .nav-lyst:focus{
    color: var(--accent-color);
}



/* style contact */


.site-nav-mail:hover,
.site-nav-mail:focus{
    color: var(--accent-color);
}
.site-nav-mail,
 .site-nav-tel{
    text-decoration: none;
    color: var(--main-color-text);
}
.site-nav-tel:hover,
.site-nav-tel:focus{
    color: var(--accent-color);
}

.site-nav-contact{
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}


/* hero styles */

.hero {
    background: #2F303A;
}

.section-bissnes {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.hero-button {
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    text-align: center;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}


/* features styling */
.features {
    color: var(--title-color);
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-color-text);
}


/* section section-title styles */
.section {
    background-color: #ffffff;
    ;
    color: var(--title-color)
}

.team {
    background-color: #F5F4FA;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.section-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--main-color-text);
}

/* Особливості Filters  */

.button .button-lyst{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        border-radius: 4px;
        cursor: pointer;
    color: var(--title-color);
    background: #F5F4FA;
    
}

.button .button-lyst:hover,
.button .button-lyst:focus{
    color: var(--accent-color);
}

/* Portfolio styling */
.pf-title{
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        text-decoration: none ;
    color: var(--title-color);
}
.pf-lyst{
    font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
    color: var(--main-color-text);
}


/* Footer styling */

.maps{
    text-decoration: none;
    font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
    color: #ffffff;
}

.address{
    list-style: none;
        margin: 0;
        padding: 0;
    font-style: normal;
        background: #2F303A;
}


.address-title{
text-decoration: none;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.6);
}

.maps:hover,
.maps:focus{
    color: var(--accent-color);
}

.address-title:hover,
.address-title:focus{
    color: var(--accent-color);
}
  